extends layout
block content
  div.login-form
    form(action="/login" method="post")
      h2.text-center Авторизация
      div.form-group
        input(type="text" name="username" class="form-control" placeholder="Username" required="required")
      div.form-group
        input(type="password" name="password" class="form-control" placeholder="Password" required="required")
      div.form-group
        button(type="submit" name="Submit" class="btn btn-outline-info btn-block") Войти