extends layout
block content
	div(class="container-fluid card border-info mt-5")
		h1(class="card-header") #{furnace.fullName}
		div(class="row card-body")
			//- h1(id="title")
			//- h2(id="description")
			//- table(class="table table-bordered table-striped table-hover")
			//- 	thead(class="thead-dark")
			//- 		tr
			//- 			th № Шага
			//- 			th Температура, &#176;C
			//- 			th Время набора, мин
			//- 			th Время удержания, мин
			//- 			th Инструменты
			//- 	tbody(id="paramTableBody")

			div(id="param-left-menu" style="width: 235px; display: flex" class="flex-column justify-content-between")
				div.p-2
					ul(class="list-group" style="max-height:260px; overflow:hidden; overflow-y:scroll")
						- fileList.reverse();
						each fileName in fileList
							li(class="list-group-item list-group-item-action list-group-item-info" id=fileName.slice(0, -4)) #{fileName.slice(0, -4)}
				div
					div(class="btn-group-vertical w-100 p-2")
						button(type="button" class="btn btn-outline-info" id="param-save-changes-btn") Сохранить изменения
						a(id ="param-save-new-btn" class="btn btn-outline-info") Сохранить как
						//- button(type="button" class="btn btn-outline-success" id="send-new-parameters") Записать в прибор
						button(id ="param-delete-btn" type="button" class="btn btn-outline-danger") Удалить
					div(class="btn-group-vertical w-100 p-2")
						a(href="/graph/"+furnace.id class="btn btn-outline-dark w-100") График
						a(href="/" class="btn btn-outline-dark w-100") Главная
			div(id="param-right-side" style="height: 460px; width: calc(100% - 235px)")
				h1(id="title")
				h2(id="description")
				div(style="max-height:334px; overflow:hidden; overflow-y:scroll; border: solid 1px #0dcaf0")
					table(class="table table-bordered table-striped table-hover table-info" style="margin-bottom: 0")
						thead(class="thead-dark")
							tr
								th № Шага
								th Температура, &#176;C
								th Время набора, мин
								th Время удержания, мин
								th Инструменты
						tbody(id="paramTableBody")

				div(class="btn-group-horizontal" style="margin-top: 20px")
					button(type="button" class="btn btn-outline-danger" id="clear-parameters") Очистить таблицу
					//- button(type="button" class="btn btn-outline-success" id="send-new-parameters") В прибор
					//- a(href="/" class="btn btn-outline-dark") Отменить
	script
		- var fileList = JSON.stringify(fileList);
		!= `var fileList = ${fileList};`
		include ../tools/changeParameters.js
	