@media print {
  #left-menu {
    display:none;
  }
  #myChart {
    width: 100% !important;
    overflow: hidden;
      /* margin-left: -70px !important; */
  }
}
#logo {
  width: 110px;
  height: 67px;
  position: fixed;
  top: 10px;
  left: 10px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
