/* @media print {
  #left-menu {
    display:none;
  }
  #contain {
    border: none;
  }
  #myChart {
    width: 100% !important;
    border: solid 2px red;
    position: absolute;
    right: 70px;
  }
} */
#logo {
  width: 110px;
  height: 67px;
  position: fixed;
  top: 10px;
  left: 10px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#timedisplay {
  position: fixed;
  top: 22px;
  left: 150px;
  font-size: x-large;
}
#comment>p {
  font-size: x-large;
}
