-var lang="ua"
div(class='row')
  div(class='col')
    // TODO Зробити підтримку багатомовності 
    a(class="btn btn-primary" href=`/entity/${entity.id}/program/set` role="button") Завдання

div(class='row')
  div(class='col')
    h6 Тут має бути скомпільвана програма
    table(class='table')
      tr
        th №
        th Крок
        th Стан
      tr
        td 0
        td Підготовка
        td Очікування




