-let lang="ua"

p --------------------- debugging info -----------------------------
pre #{JSON.stringify(tasks)}  
p --------------------- debugging info -----------------------------

div(class="row")
  div(class="col")


    div(class="container-fluide") !{tasks}

  div(class="col")    
    h3=`${{ua:`Програма` , en: `Program`, ru: `Программа` }[lang]}`
    //- #{program}

