

div(class="row" id="el_fileMan_btnGroup")
div(class="row" id="el_fileMan_listFiles")


script
  //- створює змінну fileManager
  //- fileManager.Class  імпортує клас, що створює обєкт fileManager
  include ../../fileManager/views/fMan_Class.js
  include ./tasks_fileManager.js

//- script
//- include ../../fileManager/views/fMan_main.js

//-   tasks.fileManager = 
//-   tasks.fileManager.container =