script.
  window.devices = {};
  devices.items={};

div.container(id="devicesContainer")
  div.row !{content}

    //- div.col#devicesContainer !{content}

script.
  devices.container = document.getElementById("devicesContainer");
//- script 
//-   include  devicesGeneral.js