script.
  let devices = {};
  devices.items={};

div.container
  div.row !{content}

    //- div.col#devicesContainer !{content}

script.
  devices.container = document.getElementById("devicesContainer");
//- script 
//-   include  devicesGeneral.js