
//-  Не використовується замість нього викликається роутер indexRouter = require("\ASUTP2021\controllers\tasksController\routes\index.js");

div.row
  div.col#buttonsContainer
    //- тут будуть кнопки
script. 
  var buttons = {};
  buttons.container=document.getElementById("buttonsContainer");
  buttons.homeUrl=!{`"${homeUrl}"`}

script 
  include index.js