-var lang= language ? language : "ua";
-var id=`${prefix}`

//- p -----------
//- pre #{JSON.stringify({lang,language,prefix})} 
//- pre #{JSON.stringify(reg)} 
//- p --------------------------------


script.
  pageProps["#{id}"]= {};