-var _id= prefix+device.id+"_"
//- шаблон для компоненту MB110-8A
div.container.MB1108A(id="mb110_1")
  p Vue Container

script.
  if (!window.devices) {
  console.error("window.devices is not defined!");
  }

