diw.row.h-100
  div.col-2.h-100#fileManagerContainer
    p fileManager will be here
  div.col-10.h-100 !{chart} 
    //- include loggerCompact.pug

script.
  setTimeout(()=>{chartMan.chart.start()},5000);