
//-  Не використовується замість нього викликається роутер indexRouter = require("\ASUTP2021\controllers\tasksController\routes\index.js");


extends layout

block content
  h1= title
  p Welcome to #{title}
